<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <!-- External CSS -->
  <link rel="stylesheet" href="styles/normalize-4.1.1.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- App CSS -->
  <link rel="stylesheet" href="styles/app.css" type="text/css" />

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <!-- App JS -->
  <script src="scripts/app.js"></script>

</head>
<body>

  <div ng-app="myApp" ng-controller="myCtrl" class="container">
    Store Name: <input type="text" ng-model="storeName"><br>
    Ad Text: <input type="text" ng-model="adText"><br>
    URL: <input type="text" ng-model="url"><br>
    URL - Title: <input type="text" ng-model="urlTitle"><br>
    URL - Description: <input type="text" ng-model="urlDescription"><br>
    Ad Image: <br>
    <br>

    <div class='ad panel panel-default'>
      <div class='panel-body'>
        <header>
          <img class="profile-pic" src="images/profilePic.png">
          {{storeName}}<br>
          Sponsored
        </header>
        <br>

        {{adText}}

        <div class='adImage panel'>
          <img src="images/samplePic.png" class="fullPic">
          {{urlTitle}}<br>
          {{urlDescription}}<br>
          {{url}}
        </div>

        5 comments 17 shares
      </div>

      <div class="panel-footer">
        Like
        Comment
        Share
      </div>

    <div>
  </div>

</body>
</html>