<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

  <div ng-app="myApp" ng-controller="myCtrl">
    Store Name: <input type="text" ng-model="storeName"><br>
    Ad Text: <input type="text" ng-model="adText"><br>
    URL: <input type="text" ng-model="url"><br>
    URL - Title: <input type="text" ng-model="urlTitle"><br>
    URL - Description: <input type="text" ng-model="urlDescription"><br>
    Ad Image: <br>
    <br>
    {{storeName}}<br>
    {{adText}}<br>
    {{url}}<br>
    {{urlTitle}}<br>
    {{urlDescription}}<br>
  </div>

  <script>
    let app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
      $scope.storeName="Jasper's Market";
      $scope.adText="It's fig season! Not sure what to do with figs? Here's a great desert reciple to share.";
      $scope.url="www.jaspers-market.com";
      $scope.urlTitle="Fig Tart with Almonds";
      $scope.urlDescription="The simplicity of this tart perfectly...";
    });
  </script>

</body>
</html>