<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>

  <!-- External CSS -->
  <link rel='stylesheet' href='css/normalize-4.1.1.css' type='text/css' />
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link href='css/ionicons.css' rel='stylesheet' type='text/css' />

  <!-- App CSS -->
  <link rel='stylesheet' href='css/app.css' type='text/css' />

  <!-- External JS -->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>

  <!-- App JS -->
  <script src='scripts/app.js'></script>

</head>
<body>

  <div ng-app='myApp' ng-controller='myCtrl' class='container'>
    Store Name: <input type='text' ng-model='storeName' class='form-control' maxlength='25'><br>
    Ad Text: <input type='text' ng-model='adText' class='form-control' maxlength='450'><br>
    URL: <input type='text' ng-model='url' class='form-control' maxlength='60'><br>
    URL - Title: <input type='text' ng-model='urlTitle' class='form-control' maxlength='30'><br>
    URL - Description: <input type='text' ng-model='urlDescription' class='form-control' maxlength='60'><br>
    Ad Image: <br>
    <br>

    <div class='panel panel-default'>
      <div class='panel-body'>

        <div class='header media'>
          <div class='media-left'>
            <img class='profile-pic' src='images/profilePic.png'>
          </div>

          <div class='media-body'>
            <h5 class='header'>
              <strong>{{storeName}}</strong><br>
              <small class='grey'>Sponsored · <i class='icon ion-earth grey'></i></small>
            </h5>
          </div>

          <div class='media-right header'>
            <i class='icon ion-thumbsup big-icon'></i>
          </div>
        </div>

        <p>{{adText}}</p>

        <div class='panel panel-default'>
          <div class='fullPic-container'>
            <img src='images/samplePic.png' class='fullPic'>
          </div>

          <div class='adImage-content'>
            <div class='adImage-text-container alignTwoThirds'>
              <h5>
                <strong>{{urlTitle}}</strong><br>
              </h5>
              <h6>
                {{urlDescription}}<br>
                <span class='grey'>{{url}}</span>
              </h6>
            </div>

            <div class='adImage-btn-container alignThird'>
              <button type='button' class='btn btn-default ad-btn btn-sm'>
                <strong>Learn More</strong>
              </button>
            </div>
          </div>
          <div class='cl'></div>
        </div>

        <div class='text-right grey'>5 Comments  17 Shares</div>
      </div>

      <div class='panel-footer'>

        <div class='alignThird'>
          <i class='icon ion-thumbsup grey'></i>
          Like
        </div>
        <div class='alignThird'>
          <i class='icon ion-chatbox grey'></i>
          Comment
        </div>
        <div class='alignThird'>
          <i class='icon ion-forward grey'></i>
          Share
        </div>
        <div class='cl'></div>

      </div>

    <div>
  </div>

</body>
</html>